extends layout

block content
  section#service.service
    .overlay
      .container
        .row
          .main_counter.sections.text-center
            .col-sm-10.col-sm-offset-1
              .row
                .col-sm-3.col-xs-12
                  .single_counter_right
                    i.lnr.lnr-users
                    h2.statistic-counter 3,800
                    p Exchange BTC
                .col-sm-3.col-xs-12
                  .single_counter_right
                    i.fa.fa-line-chart
                    h2.statistic-counter 4510
                    p Exchange ETH
                .col-sm-3.col-xs-12
                  .single_counter_right
                    i.lnr.lnr-heart
                    h2.statistic-counter 2,800
                    p Exchange Others
                .col-sm-3.col-xs-12
                  .single_counter_right
                    i.lnr.lnr-gift
                    h2.statistic-counter 5,500
                    p Freebies Others