extends layout

block content
  section#home.home
    .overlay
      .container
        .row
          .col-sm-12
            .main_home_slider.text-center
              .single_home_slider
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h1 Set a price alert, cryptopy will notify 
                  p.subtitle We feed you the current crypto-currency exchange rate 
                  .home_btn
                    a.btn.btn-md(href='') Learn More
              .single_home_slider
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h1 An amazing trading strategy
                  p.subtitle Trade more with cryptopy fast notification system
                  .home_btn
                    a.btn.btn-md(href='') Learn More
              .single_home_slider
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h1 Stay Focus, Stay Ahead & Stay Smart
                  p.subtitle We provide you with a daily price feeds, Be your watch-dog with crypto
                  .home_btn
                    a.btn.btn-md(href='') Learn More